body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: gray;
    color: white;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    
}

a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
ul{
    display: flex;
    justify-content: center;
}


li{
    list-style: none;
}

h1 {
    color: red;
}

.re{
    color: red;
}

.co{
    color: red;
}

.op{
    color: red;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figcaption {

    font-style: italic;
    margin-top: 5px;
}

a {
    color: rgb(140, 0, 255);
    text-decoration: none;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}